@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);

    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;

}

body {
    display: flex;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--Cream);
    min-height: 100vh;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 610px;
    width: 90%;
    margin: 15px auto;
    background-color: var(--Soft-red);
    align-items: center;
    padding: 50px;
    border-radius: 35px;
}

.my-balance>img {
    width: 11.0rem;
}

.balance-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.balance-text {
    color: var(--Cream);
}

.balance-number {
    color: var(--Very-pale-orange);
    font-weight: 700;
    font-size: 5.0rem;
}

.spending {
    display: flex;
    flex-direction: column;
    max-width: 610px;
    width: 90%;
    margin: 15px auto;
    background-color: var(--Very-pale-orange);
    border-radius: 35px;
    padding: 50px;
}

.spending-text {
    color: var(--Dark-brown);
}

.spending-graphic {
    display: grid;
    grid-template-columns: repeat(7, minmax(20px, 70px));
    grid-template-rows: 97% 3%;
    grid-gap: 20px;
    margin-top: 30px;
    width: 100%;
    height: 150px;
    align-items: end;
}

.bar {
    background-color: var(--Soft-red);
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.bar:hover {
    background-color: var(--Cyan);
    transition: 0.2s;
}

.mon {
    height: 10%;
}

.tue {
    height: 10%;
}

.wed {
    height: 10%;
}

.thu {
    height: 10%;
}

.fri {
    height: 10%;
}

.sat {
    height: 10%;
}

.sun {
    height: 10%;
}

.spending-graphic>p {
    text-align: center;
    color: var(--Medium-brown);
}

.float-value {
    display: none;
    box-sizing: border-box;
    width: 5.0rem;
    background-color: var(--Dark-brown);
    border-radius: 4px;
    color: var(--Very-pale-orange);
    font-size: 1.2rem;
    padding: 0.2rem;
    position: absolute;
    top: -2.8rem;
    left: -2%;
    font-weight: 700;
}

.bar:hover .float-value {
    display: block;
}

.line {
    border: 0;
    height: 2px;
    background-color: var(--Cream);
    margin: 30px 0;
    height: 3px;
}

.spending-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.total-month {}

.total-month>p {
    color: var(--Medium-brown);
}

.total-month>h1 {
    color: var(--Dark-brown);
    font-size: 45px;
}

.last-month {
    text-align: end;
}

.percent {
    font-weight: 700;
}

.text {
    color: var(--Medium-brown);
}

@media (max-width: 549px) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 517px) {
    .spending-text {
        font-size: 3.0rem;
    }
}


@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .my-balance {
        padding: 40px;
    }

    .spending {
        padding: 40px;
    }

}

@media (max-width: 410px) {
    .my-balance {
        flex-direction: column-reverse;
        gap: 15px;
        padding: 30px;
    }

    .balance-info {
        text-align: center;
    }

    .spending {
        padding: 30px;
    }

    .spending-text {
        text-align: center;
        font-size: 3 rem;
    }

}